<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">≡</mat-icon>
    </button>
    <h1>貨幣介紹</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 12vw;">
    <mat-nav-list>
      <a style="font-size: 20px;" mat-list-item href="" > {{'Home.allcountries'|translate }} </a>
      <a style="font-size: 20px;" mat-list-item [routerLink]="'/MoneyDeatil'"> {{'Home.exchange-rate-chart'|translate }}  </a>
      <a style="font-size: 20px;" mat-list-item (click)="sidenav.toggle()" href="" mat-list-item> </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>