@import '~@angular/material/theming';
@include mat-core();

/* 定義Material主題顏色 */
$gon-dark-primary: mat-palette($mat-teal);
$gon-dark-accent: mat-palette($mat-cyan, A200, A100, A400);
$gon-dark-warn: mat-palette($mat-deep-orange);
$gon-dark-theme: mat-dark-theme($gon-dark-primary, $gon-dark-accent, $gon-dark-warn); // 這裡如果用mat-light-theme會變成淺色主題

@include angular-material-theme($gon-dark-theme);